$font-stack:    Helvetica, sans-serif;
$light-yellow: #E8DCA8;
$light-brown: #CAB489;
$med-brown: #B0906D;
$dark-brown: #997256;
$primary-color: #55312A;
$light-red: #92383F;
$dark-red: #621F29;
$red: #CC0022;