<div class="content">
  <div class="loading-modal">
    <i class="fa fa-cog fa-spin"></i>
  </div>
  <div class="main-container">
  	<div id="leaderboard"></div>
    <table id="table" class="table-minimal">
	  <thead>
	    <tr>
        <th>Rank</th>
	      <th>Name</th>
	      <th>Company</th>
	      <th>Distance</th>
	    </tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
  </div>
</div>