<div class="content">
  <div class="loading-modal">
    <i class="fa fa-cog fa-spin"></i>
  </div>
  <div class="main-container">
    <div id="map-live"></div>
    <div id="tab-select" class="tab">Status <i class="fa fa-caret-up"></i></div>
    <div id="user-panel" class="user-panel">
    	<div class="content-wrapper">
	    	<label>Name:</label>
	    	<h2 id="js-name" class="user-style-black"></h2>
	    	<label>Company: </label>
	    	<p id="js-compnay" class="user-style-black"></p>
	    	<div class="inline-group">
		    	<label>Current Group:</label>
		    	<p id="js-group" class="user-style-black"></p>
	    	</div>
		    <div class="inline-group">
		    	<label>Total Distance:</label>
		    	<p id="js-distance" class="user-style-black">364.717</p>
	    	</div>
    	</div>
    </div>
  </div>
</div>